{% extends "base.html"%}
{% load static %}

{% block title %}
    <title>О нас | AMmade</title>

    <style>
       .img-wrapper {
        display: flex;
        overflow: hidden;
        min-width: 500px;
        max-width: 500px;
        min-height: 450px;
        max-height: 450px;
        margin: auto;
    </style>
{% endblock %}

{% block content %}
        <!-- Main -->
    <main class="main--wrapper">

        <!-- page banner area start -->
        <section class="page-banner-area" data-background="{% static 'img/bg/page-banner.png' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-sm-12">
                        <div class="banner-text text-center pt-90 pb-25">
                            <h2 class="f-800 cod__black-color">Чем мы занимаемся?</h2>
                            <p class="mb-60">Основное наше направление это кожаные изделия, которые делают каждый день лучше. Почему они на такое способны?
                                Все просто, это приятнейшая кожа, которую одно удовольствие держать в руках. И запах, просто запах..</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- page banner area end -->

        <!-- about area start -->
        <section class="about-area pt-80 pb-45">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="about-single mb-30">
                            <div class="about-img">
                                <img src="{% static 'img/offer/about__thumb__20.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="about-text">
                                <h6 class="f-700 cod__black-color"><a href="#">О материалах</a></h6>
                                <p class="f-400">При создании изделий используется только лучшая кожа и качественная фурнитура</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="about-single mb-30">
                            <div class="about-img">
                                <img src="{% static 'img/offer/about__thumb__21.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="about-text">
                                <h6 class="f-700 cod__black-color"><a href="#">Ручной шов</a></h6>
                                <p class="f-400">Каждый стежок изделия прошивается только вручную, благодаря которым у изделия такая высокая прочность</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="about-single mb-30">
                            <div class="about-img">
                                <img src="{% static 'img/offer/about__thumb__22.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="about-text">
                                <h6 class="f-700 cod__black-color"><a href="#">Полностью ручная работа</a></h6>
                                <p class="f-400">Помимо шва, также вручную производятся все остальные процессы в ходе производства</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="about-single mb-30">
                            <div class="about-img">
                                <img src="{% static 'img/offer/about__thumb__23.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="about-text">
                                <h6 class="f-700 cod__black-color"><a href="#">Срок годности</a></h6>
                                <p class="f-400">При правильном использовании и некотором простом уходе, срок годности - очень много.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about area end -->


        <!-- about area start -->
        <section class="about-two pb-45">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about-single mb-30">
                            <div class="about-img mb-20">
                                <img src="{% static 'img/offer/about__thumb__24.jpg' %}" class="img-fluid img-wrapper" alt="">
                            </div>
                            <p>Немного истории. Как все начиналось? Это было далекое начало 2020 года.
                            В интернете начали встречаться ролики и статьи о создании различных изделий с, как оказалось, сомнительными технологиями производства.
                            Сначала идея шить из кожи пришла к моему родному брату, но в дальнейшем инициатива уже перешла в мои руки.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-single mb-30">
                            <div class="about-img mb-20">
                                <img src="{% static 'img/offer/about__thumb__25.jpg' %}" class="img-fluid img-wrapper" alt="">
                            </div>
                            <p>Продолжение. В определенный момент были заказаны первые инструменты, некоторые заказывал брат, что-то бралось из гаража.
                            Так и образовался первый набор инструментов. Кожа была из старых сапогов и был сшит самый-самый первый кардхолдер и следом ремешок для часов (на фото).
                                Это было 3 января 2020 года. Так и началась история.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about area end -->

    </main>
    <!-- Main End -->
{% endblock  %}