{% extends "base.html"%}
{% load static %}

{% block title %}
    <title>Уход | AMmade</title>
{% endblock %}

{% block content %}
        <!-- Main -->
    <main class="main--wrapper">


        <!-- about area start -->
        <section class="about-area pt-80 pb-45" >
            <div class="container" >

                <div class="row">

                    <div class="col-lg-4 col-sm-6 col-md-3 col-xs-12" >
                        <div class="about-single mb-30">
                            <div class="about-img">
                                <img src="{% static 'img/offer/sun.jpg' %}" class="img-fluid" width="700" height="500" alt="">
                            </div>
                            <div class="about-text ">
                                <h4 class="f-400 cod__black-color">НЕ НУЖНО ЗАПЕКАТЬ</h4>
                                <h5 class="f-400">Не оставляйте надолго свои вещи под открытым солнцем, кожа может сильно выгореть и потерять свои бомбические свойства</h5>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-3 col-xs-12" >
                        <div class="about-single mb-30">
                            <div class="about-img">
                                <img src="{% static 'img/offer/balm.jpg' %}" class="img-fluid" width="700" height="500" alt="">
                            </div>
                            <div class="about-text ">
                                <h4 class="f-400 cod__black-color">КОЖУ НУЖНО ОБРАБАТЫВАТЬ</h4>
                                <h5 class="f-400">Для обработки есть различные бальзамы и крема, чтобы кожа не высыхала и была всегда приятна на ощупь (хоть и без этого тоже будет)</h5>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-3 col-xs-12" >
                        <div class="about-single mb-30">
                            <div class="about-img">
                                <img src="{% static 'img/offer/strip.jpg' %}" class="img-fluid" width="700" height="500" alt="">
                            </div>
                            <div class="about-text ">
                                <h4 class="f-400 cod__black-color">СТРАХ ВОДЫ, А ЕЩЕ БОЛЬШЕ - ФЕНА</h4>
                                <h5 class="f-400">Вдруг если ваше изделие намокло, очень не рекомендую сушить его какими-либо электроприборами или на батарее, лучше высушить его при комнатной температуре, тем самым сохранив все свойства </h5>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-3 col-xs-12" >
                        <div class="about-single mb-30">
                            <div class="about-img">
                                <img src="{% static 'img/offer/hand.jpg' %}" class="img-fluid" width="700" height="500" alt="">
                            </div>
                            <div class="about-text ">
                                <h4 class="f-400 cod__black-color">ПРОТИВ СПИРТА</h4>
                                <h5 class="f-400">Если все-таки вещь немного испачкалась, то отложите спирт и прочую химию в сторону, лучше делать это сухой тряпочкой, в крайнем случае - водой и мылом. </h5>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-3 col-xs-12" >
                        <div class="about-single mb-30">
                            <div class="about-img">
                                <img src="{% static 'img/offer/leather.jpg' %}" class="img-fluid" width="700" height="500" alt="">
                            </div>
                            <div class="about-text ">
                                <h4 class="f-400 cod__black-color">ЦАРАПИНЫ НЕ СТРАШНО</h4>
                                <h5 class="f-400">В ходе эксплуатации на изделии будут появляться регулярно небольшие царапины, но это только придает особенность и неповторимость вашему изделию. На некоторых кожах (например CrazyHorse), если потереть ветошью, то есть тряпочкой, то можно избавиться от мелких царапин</h5>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-3 col-xs-12" >
                        <div class="about-single mb-30">
                            <div class="about-img">
                                <img src="{% static 'img/offer/log.jpg' %}" class="img-fluid" width="700" height="500" alt="">
                            </div>
                            <div class="about-text ">
                                <h4 class="f-400 cod__black-color">ЛЮБИ И БЕРЕГИ</h4>
                                <h5 class="f-400">Все-таки это не дешевая вещь, и ее нужно хранить и беречь, как новенький айфон. Как ты будешь к нему относиться, так и оно проявит себя с годами, и может пройти с тобой весь жизненный путь!!!</h5>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- about area end -->

    </main>
    <!-- Main End -->
{% endblock  %}