{% extends "base.html"%}
{% load static %}

{% block title %}
    <title>Доставка и оплата | AMmade</title>
{% endblock %}

{% block content %}
        <!-- Main -->
    <main class="main--wrapper">
    <section class="about-two pb-45">
            <div class="container">
                <div class="row">
                    <div class="">
                        <div class="about-single mb-30">
                            <h3>КАК ОФОРМИТЬ ЗАКАЗ</h3>


                            <h5> 1. Выбери желаемые изделия </h5>
                            <p>
                            Ассортимент у тебя прямо перед глазами. Осталось только выбрать, выбирай с умом, как будущую жену\мужа.
                            </p>
                            <h5>2. Выбери цвет </h5>

                            <p>
                                Итак, с форм-фактором определились. Осталось выбрать цвет кожи. Тут уж как по душе, по настроению.
                            </p>

                            <h5>3. Выбери фурнитуру</h5>

                            <p>Если ты покупаешь изделие, где есть какая-либо металлическая фурнитура, то все ты можешь выбрать сам ее оттенок, как латунь (золотистая), так и сталь (серебристая). </p>
                            <h5>4. Выбери цвет ниток</h5>

                            <p>Помимо кожи, ее цвета и фурнитуры, ты также можешь выбрать свой желанный цвет ниток, с контрастом или без, но также можешь предоставить право нам самим подобрать оптимальный цвет.</p>
                            <h5>5. Оплати</h5>
                            <p>
                            Обязательно укажи информацию для доставки: ФИО, адрес, индекс, телефон. Выбери удобный способ оплаты. Оплати.
                            </p>
                            <h5>6. Жди</h5>
                            <p>
                            Изготовление изделия в среднем занимает 7-10 дней, в зависимости от сложности исполнения и нагрузки, а доставка — еще 5-7 дней со дня изготовления. Но часто — быстрей.
                            </p>
                            <h5>7. Остались вопросы?</h5>
                            <p>
                            СТОИМОСТЬ И СРОК ДОСТАВКИ
                            Доставка по РФ Почтой России бесплатная при заказе от 3.000 рублей.

                            Доставка Почтой России в среднем займет 4-7 дней со дня изготовления. Нередки и случаи доставки за 2-3. Если хочешь быстрее и прям в руки, то здесь тебе поможет экспресс-доставка, она платная (по тарифам СДЭК)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </main>
    <!-- Main End -->
{% endblock  %}