{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% block title%}
        {% endblock %}

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
        <link rel="stylesheet" href="{% static 'css/meanmenu.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        <style type="text/css">

        </style>
    </head>
    <body>

        <!-- Header -->
        <header class="header">
            <div class="top header__top gray-bg d-none d-md-block">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-5">
                            <div class="message--header__top">
                                <p class="message m-0 dove__gray-color">Бесплатная доставка по всей России</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="middle header__middle bg--header__middle header-middle-three pt-35 pb-35">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="content--header__middle d-flex align-items-center justify-content-between">
                                <div class="header-search-three d-none d-md-block">
                                    <form action="{% url 'cat:search' %}" method="get">
                                        <input type="search" placeholder="Поиск товаров"  style="font-size: 25px;" name="q">
                                        <button type="submit" style="font-size: 25px;"><i class="icofont-search-2"></i></button>
                                    </form>
                                </div>
                                <div class="logo--header__middle">
                                    <div class="logo">
                                        <a class="logo__link" href="{% url 'main:about' %}"><img src="{% static 'img/logo/h2__logo.png' %}" alt=""></a>
                                    </div>
                                </div>
                                <div class="cart--header__middle cart--header__three">
                                    <div class="cart--header__list">
                                        <ul class="list-inline">
                                            <li><a class="mini__cart--link" href="#"><i class="fal fa-bags-shopping"><span
                                                            class="cart__count">3</span></i><span class="cart__amount">$
                                                        3550</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="mini__cart--box">
                                        <ul>
                                            <li class="mb-20">
                                                <div class="cart-image">
                                                    <a href="{% url 'main:about' %}"><img src="{% static 'img/allproducts/cart__thumb__1.jpg' %}" alt=""></a>
                                                </div>
                                                <div class="cart-text">
                                                    <a href="#" class="title f-400 cod__black-color">Pink Jacket</a>
                                                    <span class="cart-price f-400 dusty__gray-color">2 x <span
                                                            class="price f-800 cod__black-color">$ 78.00</span></span>
                                                </div>
                                                <div class="del-button">
                                                    <a href="#"><i class="icofont-close-line"></i></a>
                                                </div>
                                            </li>
                                            <li class="mb-20">
                                                <div class="cart-image">
                                                    <a href="#"><img src="{% static 'img/allproducts/cart__thumb__2.jpg' %}" alt=""></a>
                                                </div>
                                                <div class="cart-text">
                                                    <a href="#" class="title f-400 cod__black-color">Silk Glows</a>
                                                    <span class="cart-price f-400 dusty__gray-color">2 x <span
                                                            class="price f-800 cod__black-color">$ 78.00</span></span>
                                                </div>
                                                <div class="del-button">
                                                    <a href="#"><i class="icofont-close-line"></i></a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="total-text d-flex justify-content-between">
                                                    <span class="f-800 cod__black-color">Total Bag </span>
                                                    <span class="f-800 cod__black-color">$ 99.00</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex justify-content-between">
                                                    <a href="#" class="checkout">Checkout</a>
                                                    <a href="#" class="viewcart">View Cart</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom header__bottom header__bottom--border header-bottom-three">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-10 offset-xl-1 text-center">
                            <div class="main-menu">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li>
                                            <a href="{% url 'main:about' %} ">О нас</a>
                                        </li>
                                        <li class="mega-menu static dropdown-icon">
                                            <a href="{% url 'cat:catalog' %}">Магазин</a>
                                            <ul class="submenu">
                                                <ul class="level-3">
                                                    {% for category in categories %}
                                                    <li>
                                                        <a href="{% url 'cat:category' category.slug %}">{{ category.name }}</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="{% url 'main:order' %}">Доставка и оплата</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'main:care' %}">Уход за изделиями</a>
                                        </li>

                                    </ul>

                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header end /-->

        <!-- Main -->
        {% block content %}
        {% endblock %}
        <!-- Main End -->

         <!-- Footer -->
        <footer class="footer--area">
            <div class="footer--top pt-70 pb-25">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-2 mb-30 col-lg-6 col-md-4 order-md-2 order-lg-3 col-sm-6">
                            <div class="footer-widget">
                                <div class="footer-menu h1foote-menu2" >
                                    <a href="#">
                                        <img src="{% static 'img/icon/instagram.png' %}" class="img-fluid" alt="">
                                    </a>

                                    <a href="#">
                                         <img src="{% static 'img/icon/vk.png' %}" class="img-fluid" alt="">
                                    </a>

                                    <a href="#">
                                        <img src="{% static 'img/icon/telegram.png' %}" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                       <div class="col-xl-2 col-lg-6 col-md-4 mb-30 order-md-4 order-lg-4 col-sm-6">
                            <div class="footer-widget">
                                <div class="footer-menu h1foote-menu2 ">
                                    <ul>
                                        <li><a href="#">Политика конфиденциальности</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-6 col-md-4 mb-30 order-md-4 order-lg-4 col-sm-6">
                            <div class="footer-widget">
                                <div class="footer-menu h1foote-menu2">
                                    <ul>
                                        <li><a href="#">Возврат товара</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                      <div class="col-xl-2 col-lg-6 col-md-4 mb-30 order-md-4 order-lg-4 col-sm-6">
                            <div class="footer-widget">
                                <div class="footer-menu h1foote-menu2">
                                    <ul>
                                        <li><a href="#">Публичная оферта</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <!-- Footer End -->





		<!-- JS here -->
        <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'js/one-page-nav-min.js' %}"></script>
        <script src="{% static 'js/slick.min.js' %}"></script>
        <script src="{% static 'js/ajax-form.js' %}"></script>
        <script src="{% static 'js/wow.min.js' %}"></script>
        <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui-slider-range.js' %}"></script>
        <script src="{% static 'js/meanmenu.min.js' %}"></script>
        <script src="{% static 'js/Elemental.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
