{% extends "base.html"%}
{% load static %}

{% block title %}
    <title>Авторизация | AMmade</title>
{% endblock %}

{% block content %}
<main class="main--wrapper">
            <!-- reg area start -->
            <section class="reg-area pt-60 pb-75">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="reg-wrapper">
                                <ul class="nav" id="myTab" role="tablist">
                                    <li class="nav-item mr-40">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#" role="tab" aria-controls="home" aria-selected="true">Вход</a>
                                    </li>
                                    <li class="nav-item ml-40">
                                        <a class="nav-link" id="profile-tab" role="tab"  aria-controls="home" aria-selected="false" href="{% url 'user:reg' %}"> Регистрация </a>
                                    </li>
                                </ul>

                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <!-- Login -->

                                        <form action="{% url 'user:login' %}" method="post">
                                            {% csrf_token %}

<!--                                            {{form.as_p}}-->

                                            <div class="field">
                                                <label for="id_username" >Никнейм пользователя</label>
                                                <input type="text" placeholder="" value="{% if form.username.value%}  {{form.username.value}} {% endif%}" name="username" id="id_username" required >
                                                {% if form.username.errors %}
                                                            <ul class="errorlist alert alert-danger alert-dismissible fade show">
                                                                {% for error in form.username.errors %}
                                                                    <li>{{ error }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                            </div>
                                            <div class="field">
                                                <label for="id_password">Пароль</label>
                                                <input type="password" placeholder="" name="password" id="id_password" required>
                                                      {% if form.password.errors %}
                                                        <ul class="errorlist alert alert-danger alert-dismissible fade show">
                                                            {% for error in form.password.errors %}
                                                                <li>{{ error }}</li>
                                                            {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </div>
                                            <button type="submit" style="background: #dab970; text-align:center; color: #000;">Вход</button>
<!--                                            <span>-->
<!--                                                <input type="checkbox" class="check" style="transform: scale(1);">-->
<!--                                                Запомнить меня-->
<!--                                            </span>-->
                                            <a href="#" class="lost-pass">Забыли пароль?</a>
                                        </form>
                                    </div>

                                        <!-- End  -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- reg area end -->
        </main>

{% endblock  %}