{% extends "base_profile.html" %}
{% load static %}

{% block title %}
    <title> Данные | AMmade</title>
{% endblock %}

{% block content_profile %}
    <main class="main--wrapper">

            <div class="container">
                <div class="row">
                    <div id="content" class="col-sm-9">
                        <br>
                        <h1 class="h4 text-center content-title">Учетная запись</h1>

                    <br>
                    <div class="simple-content">
                        <form action="index.php?route=account/simpleedit" method="post" enctype="multipart/form-data" id="simplepage_form">
                            <div class="simpleregister" id="simpleedit">
                                <div class="simpleregister-block-content">
                                    <fieldset class="form-horizontal">
                                        <div class="form-group required row-edit_email">
                                            <label class="control-label col-sm-2" for="edit_email">Email</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="email" name="edit[email]" id="edit_email" value="{{user.email}}" placeholder="" data-reload-payment-form="true">
                                                        <div class="simplecheckout-rule-group" data-for="edit_email">
                                                            <div style="display:none;" data-for="edit_email" data-rule="api" class="simplecheckout-error-text simplecheckout-rule" data-method="checkEmailForUniqueness" data-filter="edit_register" data-filter-value="1" data-required="true">
                                                                Адрес уже зарегистрирован!
                                                            </div>
                                                            <div style="display:none;" data-for="edit_email" data-rule="regexp" class="simplecheckout-error-text simplecheckout-rule" data-regexp=".+@.+" data-required="true">
                                                                Некорректный адрес электронной почты!
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="form-group required row-edit_firstname">
                                                <label class="control-label col-sm-2" for="edit_firstname">Никнейм</label>
                                                    <div class="col-sm-10">
                                                        <input class="form-control" type="text" name="edit[firstname]" id="edit_firstname" value="{{ user.username}}" placeholder="" data-reload-payment-form="true">
                                                        <div class="simplecheckout-rule-group" data-for="edit_firstname">
                                                            <div style="display:none;" data-for="edit_firstname" data-rule="byLength" class="simplecheckout-error-text simplecheckout-rule" data-length-min="1" data-length-max="32" data-required="true">
                                                                Имя должно быть от 3 до 32 символов!
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="form-group required row-edit_lastname">
                                                <label class="control-label " for="edit_lastname">Фамилия, имя и отчество (при наличии)</label>
                                                    <div class="col-sm-10">
                                                        <input class="form-control" type="text" name="edit[lastname]" id="edit_lastname" value="{{ user.fio }}" placeholder="" data-reload-payment-form="true">
                                                        <div class="simplecheckout-rule-group" data-for="edit_lastname">
                                                            <div style="display:none;" data-for="edit_lastname" data-rule="byLength" class="simplecheckout-error-text simplecheckout-rule" data-length-min="1" data-length-max="32" data-required="true">
                                                                Фамилия должна быть от 1 до 32 символов!
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="form-group required row-edit_telephone">
                                                <label class="control-label col-sm-2" for="edit_telephone">Телефон</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="tel" name="edit[telephone]" id="edit_telephone" value="89625440393" placeholder="" data-reload-payment-form="true">
                                                    <div class="simplecheckout-rule-group" data-for="edit_telephone">
                                                        <div style="display:none;" data-for="edit_telephone" data-rule="byLength" class="simplecheckout-error-text simplecheckout-rule" data-length-min="10" data-length-max="15" data-required="true">
                                                            Телефон должен быть от 10 до 15 символов!
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </fieldset>
                                </div>
                                <div class="simpleregister-button-block buttons">
                                    <div class="simpleregister-button-right " style="text-align:center">
                                        <a class="button btn-primary button_oc btn" data-onclick="submit" id="simpleregister_button_confirm" style="background: #dab970;"><span>Сохранить изменения</span></a>
                                    </div>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </aside>

            </div>
        </div>
    </main>

{% endblock  %}