{% extends "base.html"%}
{% load static %}

{% block title %}
    <title>Авторизация | AMmade</title>
{% endblock %}

{% block content %}
<main class="main--wrapper">
            <!-- reg area start -->
            <section class="reg-area pt-60 pb-75">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="reg-wrapper">
                                <ul class="nav" id="myTab" role="tablist">
                                    <li class="nav-item mr-40">
                                        <a class="nav-link " id="home-tab" href="{% url 'user:login' %}" role="tab" aria-controls="home" aria-selected="false">Вход</a>
                                    </li>
                                    <li class="nav-item ml-40">
                                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="{% url 'user:reg' %}" role="tab" aria-controls="profile" aria-selected="true">Регистрация</a>
                                    </li>
                                </ul>
                                        <!-- Start create account  -->
                                        <form action="{% url 'user:reg' %}" method="post">
                                            {% csrf_token %}
                                            <div class="field">
                                                <label for="id_email">Почтовый адрес</label>
                                                <input type="email" placeholder="" value="{% if form.email.value%}  {{form.email.value}} {% endif%}" name="email" id="id_email" required>
                                                      {% if form.email.errors %}
                                                        <ul class="errorlist alert alert-danger alert-dismissible fade show">
                                                            {% for error in form.email.errors %}
                                                                <li>{{ error }}</li>
                                                            {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </div>
                                            <div class="field">
                                                <label for="id_username" >Никнейм пользователя</label>
                                                <input type="text" placeholder="" value="{% if form.username.value%}  {{form.username.value}} {% endif%}" name="username" id="id_username" required >
                                                {% if form.username.errors %}
                                                            <ul class="errorlist alert alert-danger alert-dismissible fade show">
                                                                {% for error in form.username.errors %}
                                                                    <li>{{ error }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                            </div>
                                            <div class="field">
                                                <label for="id_username" >Номер телефона</label>
                                                <input type="text" placeholder="" value="{% if form.phone.value%}  {{form.phone.value}} {% endif%}" name="phone" id="id_phone" required >
                                                {% if form.phone.errors %}
                                                    <ul class="errorlist alert alert-danger alert-dismissible fade show">
                                                        {% for error in form.phone.errors %}
                                                            <li>{{ error }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </div>
                                            <div class="field">
                                                <label for="id_username" >Фамилия, имя, отчество (при наличии) </label>
                                                <input type="text" placeholder="" value="{% if form.fio.value%}  {{form.fio.value}} {% endif%}" name="fio" id="id_fio" required >
                                                {% if form.fio.errors %}
                                                            <ul class="errorlist alert alert-danger alert-dismissible fade show">
                                                                {% for error in form.fio.errors %}
                                                                    <li>{{ error }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                            </div>

                                            <div class="field">
                                                <label for="id_password1">Пароль</label>
                                                <input type="password" placeholder="" name="password1" id="id_password1" required>
                                                    {% if form.password1.errors %}
                                                        <ul class="errorlist alert alert-danger alert-dismissible fade show">
                                                            {% for error in form.password1.errors %}
                                                                <li>{{ error }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                            </div>

                                            <div class="field">
                                                <label for="id_password2">Подтверждение пароля</label>
                                                <input type="password" placeholder="" name="password2" id="id_password2" required>
                                            {% if form.password2.errors %}
                                                <ul class="errorlist alert alert-danger alert-dismissible fade show">
                                                    {% for error in form.password2.errors %}
                                                        <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                            </div>

                                            <button type="submit" style="background: #dab970; text-align:center; color: #000;">Зарегистрироваться</button>
<!--                                            <span>-->
<!--                                                <input type="checkbox" class="check">-->
<!--                                                Запомнить меня-->
<!--                                            </span>-->
<!--                                            <a href="#" class="lost-pass">Забыли пароль?</a>-->
                                        </form>
                                        <!-- End  -->

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- reg area end -->
        </main>

{% endblock  %}