{% extends "base.html" %}
{% load static %}

{% block title %}

{% endblock %}
    <title>Каталог товаров | AMmade</title>
{% block content %}

<div class="row" style="padding-left: 200px; padding-right: 200px;" >
    {% for product in products %}
        <div class="col-lg-4  p-4">
            <div class="card" >
                <img src="{% static product.image %}" class="img-fluid" alt="">
                <div class="card-body" >
                    <a href="">
                        {{ product.name }}
                    </a>
                    <p class="card-text text-truncate">
                        {{ product.description }}
                    </p>
                    <div class="d-flex justify-content-between">
                        <p><strong> {{ product.price }} $</strong></p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}