{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Каталог товаров | AMmade</title>
{% endblock %}

{% block content %}

<div class="row" style="padding-left: 200px; padding-right: 200px;" >
    {% for product in products %}
        <div class="col-lg-4  p-4">
            <div class="card" >
                <p><a href="{% url 'cat:product' product.slug %}">
                    <img src="{{ product.image.url }}" class="img-fluid" alt="">
                </a></p>

                <div class="card-body">
                    <a href="{% url 'cat:product' product.slug %}" style="color: #000000 !important; font-size: 20px; font-family: Comic Sans MS;" >
                        {{ product.name }}
                    </a>

                    <p class="card-text text-truncate" style="color: #000000 !important; font-size: 14px; font-family: Comic Sans MS;">
                        {{ product.description }}
                    </p>

                    <div class="d-flex justify-content-between">
                        {% if product.discount %}
                            <p><s> {{ product.price }}₽</s></p>
                            <p><strong> {{ product.sell_price }}₽</strong></p>
                        {% else %}
                            <p><strong> {{ product.price }}₽</strong></p>
                        {% endif %}

                        <a href="#" class="btn add-to-cart" style="
                                            display: inline-block !important;
                                            text-decoration: none !important;
                                            background-color: #c3b187 !important;
                                            color: #000000 !important;
                                            border: 3px solid #000000 !important;
                                            border-radius: 100px !important;
                                            font-size: 16px !important;
                                            padding: 15px 20px !important;  !important;"
                        > Добавить в корзину </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}